/*font-family: 'Noto Sans KR', sans-serif;*/
/*프라타 웹폰트 확인하기*/

@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    min-width: 1450px;
}

.owl-carousel {
    display: block;
}

/*mb*/
#mb {
    background-image: url(./images/2.sub1/mainbanner.jpg);
    background-repeat: no-repeat;
    height: 972px;
    text-align: center;
    color: #fff;
    position: relative;
    /*header의 기준*/
}

#mb h1 {
    font-size: 56px;
    line-height: 60px;
    font-weight: 500;
}

#mb p {
    font-size: 19px;
    line-height: 40px;
    font-weight: 300;
}

.mbtext {
    padding-top: 300px;
}

.mbtext img {
    margin: 46px 0;
}



/*header*/
#header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 99;
    color: rgba(241, 235, 223);
}

.logo {
    display: block;
    width: 63px;
    height: 20px;
    background-image: url(./images/main/logo.png);
    background-repeat: no-repeat;
}

.icon1 {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon1.png);
    background-repeat: no-repeat;
}

.icon2 {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon2.png);
    background-repeat: no-repeat;
}

.icon3 {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon3.png);
    background-repeat: no-repeat;
}

.h_inner {
    width: 1320px;
    margin: 0 auto;
}

.h_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.h_inner ul {
    display: flex;
}

.h_inner>ul li {
    padding: 10px;
    padding-left: 60px;
}

.list2 ul li {
    padding: 10px;
}

/*header 호버 시*/
#header:hover {
    background-color: rgba(241, 235, 223, 0.3);
}

.h_inner ul li:hover{
    color: #000;
}

.h_inner .logo:hover{
    display: block;
    width: 63px;
    height: 20px;
    background-image: url(./images/main/logo3.png);
    background-repeat: no-repeat;
}

.list2 .icon1:hover{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon1-2.png);
    background-repeat: no-repeat;
}

.list2 .icon2:hover{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon2-2.png);
    background-repeat: no-repeat;
}

.list2 .icon3:hover{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./images/main/icon3-2.png);
    background-repeat: no-repeat;
}

/*스크롤할 때 헤더 따라내려오게 하기*/
div#header.on {
    background-color: rgba(241, 235, 223, 1);
    color: #000;
    color: #000;
    position: fixed;
    /*탑 0 레프트 0*/
}

.on .logo {
    background-image: url(./images/main/logo3.png);
}

.on .icon1{
    background-image: url(./images/main/icon1-2.png);
}

.on .icon2{
    background-image: url(./images/main/icon2-2.png);
}

.on .icon3{
    background-image: url(./images/main/icon3-2.png);
}

/*따라내려온 헤더 호버했을 때*/
.on .logo:hover{
    background-image: url(./images/main/logo4.png);
}

.on .brand:hover{
    color: rgba(62,26,27,1);
}

.on .winery:hover{
    color: rgba(62,26,27,1);
}

.on .shop:hover{
    color: rgba(62,26,27,1);
}

.on .event:hover{
    color: rgba(62,26,27,1);
}

.on .icon1:hover{
    background-image: url(./images/main/icon1-3.png);
}

.on .icon2:hover{
    background-image: url(./images/main/icon2-3.png);
}

.on .icon3:hover{
    background-image: url(./images/main/icon3-3.png);
}

/*container*/
.c_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    /*text1 (story of arca)의 기준*/
}

.text1 {
    margin-top: 210px;
    position: absolute;
    top: -600px;
    left: 453.5px;
}

.text1 p {
    text-align: center;
    width: 413.17px;
}



.text1 img {
    padding-left: 200px;
}

.prata {
    font-family: 'Prata';
    font-style: normal;
    font-family: "prata";
    font-size: 60px;
    font-weight: 400;
}

#container p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}


.text2 {
    margin-top: 600px;
    margin-bottom: 273px;
}

.text2img {
    background-image: url(./images/2.sub1/img1.jpg);
    background-repeat: no-repeat;
    height: 905px;
}

.text2text {
    margin-left: 670px;
    margin-top: -200px;
}

.text2text p {
    margin-left: 90px;
}

.text1 {
    position: absolute;
    top: -600px;
    left: 453.5px;
}

.text3 {
    margin-left: 592px;
    margin-bottom: 210px;
}

.text3text {
    margin-left: 30px;
}

.text3 h4 {
    font-size: 30px;
    padding-top: 30px;
    font-weight: 500;
}

.text3 p,
.text5 p {
    margin-left: 50px;
}

#container h4 {
    margin-left: 50px;
}

.text3text p {
    font-size: 16px;
}

.text4 {
    margin-bottom: 210px;
}

.text4text {
    margin-left: 670px;
    margin-top: -200px;
}

.text4text p {
    margin-left: 90px;
}


.text5 {
    margin-left: 592px;
    margin-bottom: 210px;
}

.text5text {
    margin-left: 30px;
}

.text5 h4 {
    font-size: 30px;
    padding-top: 30px;
    font-weight: 500;
}

.text5text p {
    font-size: 16px;
}

/*footer*/
#footer {
    width: 100%;
    height: 280px;
    background-color: rgba(246, 244, 240, 1);
}

.f_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    font-size: 13px;
}

#footer h4 {
    font-size: 14px;
}

.f_text ul {
    display: flex;
}

.f_text>ul>li {
    margin-right: 50px;
}

.f_icon ul {
    display: flex;
}

.f_icon ul li {
    margin-right: 10px;
    margin-top: 20px;
}

#footer p {
    margin-top: 20px;
}

/*글자타이핑효과*/
h1.typing-txt {
    display: none;
}

/*커서가 깜빡거리는 효과부분 시작*/

.typing {
    /*position: absolute;*/
    display: inline-block;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    font-family: "prata";
    font-size: 60px;
    font-weight: 400;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000
    }

    100% {
        border-right: 1px solid #fff
    }
}

/*커서가 깜빡거리는 효과부분 끝*/